<!DOCTYPE html>
<html>
<head>
	<title>TODO LIST</title>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css"/>



</head>
<body>
	<h1>My todo list</h1>
	<div id = "todo-table">
		<form>
			<input type="text" name="item" placeholder="Add new item..." required />
			<button type="submit">Add Item</button>
		</form>
	</div>

	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ul>

</body>
</html>